[Service]
WorkingDirectory=/root/torrent/flood
ExecStart=/usr/bin/npm start
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=root
Group=flood
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target